* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btn-danger:hover {
    outline: 2px solid red;
    outline-offset: 3px;
}

.btn-primary:hover {
    outline: 2px solid blue;
    outline-offset: 3px;
}

.btn-dark:hover {
    outline: 2px solid black;
    outline-offset: 3px;
}

.header-top {
    height: 30px;
}

.sony-logo {
    height: 20px;
}

.lens-img {
    height: 40px;
}

.hero {
    background-image: url("../img/jumbo-bg.png");
    background-position: center;
    background-size: cover;
    height: 600px;
}

.hero-2 {
    background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
    background-size: cover;
    height: 600px;
}

.returnal-banner {
    height: 60px auto;
    width: 100%;
}

.small-img {
    height: 100px auto;
    width: 100%;
    border-radius: 10px;
}

.small-img-product {
    height: 100px;
    width: 120px;
    opacity: 0.5;
}

.active-img {
    opacity: 1;
}

.active-col {
    border-bottom: 2px solid blue;
}

.small-img-product:hover {
    opacity: 1;
}

.small-img:hover {
    transform: translateY(-20px);
}

.ps5-img {
    height: 700px auto;
    width: 100%;
}

.it-takes-two-logo {
    width: 50%;
}

.new-releases {
    background-color: rgb(31, 31, 31);
    color: white;
}

.new-release-img {
    width:100%;
    height:200px auto;
    border-radius: 10px;
}

.product-ps4 {
    height: 300px auto;
    width: 100%;
}

.ps-plus-section {
    background-color: rgb(190, 188, 187);
    height: 400px;
}

.ps-plus-logo {
    height: 80px;
}

.ps-plus-img {
    height: 400px;
    width: 100%;
    max-width: 500px;
}

.ps-store-img {
    height: 300px auto;
    width: 100%;
}

.ps-now-section {
    background-color: rgb(22, 28, 59);
}

.ps-now-logo {
    height: 60px;
}

.social-img {
    height: 200px auto;
    width: 100%;
}

footer {
    background-color: rgb(0, 67, 156);
}

.white-logo {
    filter: brightness(0) invert(1);
}

.globe-img {
    height: 20px;
}

ul {
    list-style-type: none;
}

.sie-logo {
    height: 50px;
}
